* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
}

.back-video {
  object-fit: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98vh;
}

.container {
  width: 100%;
  max-width: 550px;
  height: min-content;
  box-shadow: 0 4px 8px rgba(68, 62, 88, 0.627);
  border-radius: 12px;
  padding: 26px;
  background-color: rgba(43, 29, 47, 0.559);
  color: #ffff;
}

.search-box {
  width: 100%;
  height: min-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-box input {
  width: 89%;
  font-size: 17px;
  color: #000;
  background-color: #ffffff;
  padding: 12px 16px;
  border-radius: 34px;
}

.search-box input::placeholder {
  color: #000;
}

.search-box button {
  width: 46px;
  height: 46px;
  background-color: #e6f5fb;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
}

.search-box button:hover {
  box-shadow: 0 4px 8px rgba(68, 62, 88, 0.627);
  background-color: #eeeeee;
}

.search-box input:hover {
  box-shadow: 0 4px 8px rgba(68, 62, 88, 0.627);
}

.weather-body {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.weather-body img {
  width: 60%;
}

.weather-box {
  text-align: center;
}

.weather-box .temperature {
  font-size: 33px;
  margin-top: 10px;
  font-weight: 800;
  position: relative;
}

.weather-box .temperature sup {
  font-size: 20px;
  position: absolute;
  font-weight: 600;
}

.weather-box .description {
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
}

.weather-details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.humidity,
.wind {
  display: flex;
  align-items: center;
}

.humidity {
  margin-left: 20px;
}

.wind {
  margin-right: 20px;
}

.weather-details i {
  font-size: 36px;
}

.weather-details .text {
  margin-left: 10px;
  font-size: 16px;
}

.text span {
  font-size: 20px;
  font-weight: 700;
}

.location-not-found {
  margin-top: 20px;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.wearther-forcast {
  text-align: center;
}

.wearther-forcast .forcast-item {
  display: flex;
}

.future-forecast {
  padding-top: 20px;
  margin-top: 17px;
  bottom: 0;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
}

.future-forecast .today {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 15px;
  padding-right: 40px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2)
}

.future-forecast .weather-forecast {
  display: flex;
}

.weather-forecast .weather-forecast-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  border: 1px solid #eee;
  padding: 9px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2)
}

.weather-forecast .weather-forecast-item .temp {
  font-weight: 100;
  font-size: 12px;
}
