/* 
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-size: 20px;
  height: 98.2vh;
   background: transparent;
}
.back-video{
    object-fit: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1  ;
}

.container {
outline: none;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  box-shadow: 0 4px 8px rgba(21, 0, 85, 0.627);
  background-color: rgba(39, 38, 43, 0.627);
  color: azure;
  width: 30%;
  height: 42%;
  padding: 21px 21px;
  text-align: center;
}

.weather-details {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  margin-left: 85px;
}

.weather-icon img {
  width: 100px;
  height: 100px;
}

.weather-description h3 {
  margin: 0;
  margin-left: 10px;
}

.temperature {
  margin-bottom: 16px;
}

.other-details p {
  margin: 4px 0;
}
.other-details{
    display: flex;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
}

.back-video {
  object-fit: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98vh;
}

.container {
  width: 100%;
  /* Adjust the width as needed */
  max-width: 550px;
  /* Set a max-width to control the size */
  height: min-content;
  box-shadow: 0 4px 8px rgba(68, 62, 88, 0.627);
  border-radius: 12px;
  padding: 26px;
  background-color: rgba(43, 29, 47, 0.559);
  color: #ffff;
}

.search-box {
  width: 100%;
  height: min-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-box input {
  width: 89%;
  font-size: 17px;
  /* text-transform: capitalize; */
  color: #000;
  background-color: #ffffff;
  padding: 12px 16px;
  border-radius: 34px;
}

.search-box input::placeholder {
  color: #000;
}

.search-box button {
  width: 46px;
  height: 46px;
  background-color: #e6f5fb;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
}

.search-box button:hover {
  box-shadow: 0 4px 8px rgba(68, 62, 88, 0.627);
  background-color: #eeeeee;
}

.search-box input:hover {
  box-shadow: 0 4px 8px rgba(68, 62, 88, 0.627);
}

.weather-body {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  /* margin-block: 20px; */
}

.weather-body img {
  width: 60%;
}

.weather-box {
  /* margin-block: 20px; */
  text-align: center;
}

.weather-box .temperature {
  font-size: 33px;
  margin-top: 10px;
  font-weight: 800;
  position: relative;
}

.weather-box .temperature sup {
  font-size: 20px;
  position: absolute;
  font-weight: 600;
}

.weather-box .description {
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
}

.weather-details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.humidity,
.wind {
  display: flex;
  align-items: center;
}

.humidity {
  margin-left: 20px;
}

.wind {
  margin-right: 20px;
}

.weather-details i {
  font-size: 36px;
}

.weather-details .text {
  margin-left: 10px;
  font-size: 16px;
}

.text span {
  font-size: 20px;
  font-weight: 700;
}

.location-not-found {
  margin-top: 20px;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* .location-not-found h1 {
  font-size: 20px;
  color: #6b6b6b;
  margin-block-end: 15px;
}

.location-not-found img {
  width: 80%;
} */

.wearther-forcast {
  /* margin-block: 20px; */
  text-align: center;
}

.wearther-forcast .forcast-item {
  display: flex;
}

.future-forecast {
  /* background: rgba(24, 24, 27, 0.8); */
  padding-top: 20px;
  margin-top: 17px;
  bottom: 0;
  display: flex;
  color: white;
  /* width: 100%; */
  align-items: center;
  justify-content: center;
  /* overflow-y: hidden; */
}

.future-forecast .today {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 15px;
  padding-right: 40px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2)
}

.future-forecast .weather-forecast {
  display: flex;
}

.weather-forecast .weather-forecast-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  border: 1px solid #eee;
  padding: 9px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2)
}

.weather-forecast .weather-forecast-item .temp {
  font-weight: 100;
  font-size: 12px;
}
